<%- include('includes/head.ejs') %>
</head>
<body>
    <%- include('includes/navigation.ejs') %>

    <main>
        <h1>Form Submission Successful!</h1>
        <p>Thank you for contacting us. We will get back to you soon.</p>
    </main>

<%- include('includes/end.ejs') %>